.counter, .counter-tools {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.counter {
    height: 85px;
    width: 100px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.2);
    
    &__title, &__number {
        margin: 0;
        font-weight: bold;
    }
    
    &__number {
        font-size: 15px;
        cursor: not-allowed;
    }

    .counter-tools {
        height: 20px;
        width: 100px;
        
        font-size: 25px;
        
        &__increment, &__decrement {
            margin: 0;
            cursor: pointer;
        }

        &__increment:active, &__decrement:active {
            transform: scale(0.85);
        }
    }
}