.counter {
    height: 100px;
    width: 100px;
    text-align: center;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    &__title {
        margin: 0;
    }
    
    &__number {
        margin: 0;
        font-size: 15px;
        font-weight: bold;
        cursor: not-allowed;
    }

    .counter-tools {
        height: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 30px;
        
        &__increment, &__decrement {
            margin: 0;
            cursor: pointer;
            user-select: none;
        }
    }
}