@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  user-select: none;
  
  .container{
    min-height: 95vh;
    width: 95vw;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  }
}